<div class="iapp-menu-panel">
    
    
    <h3 class="iapp-menu-header iapp-menu-header-filters">Festivals</h3>
    <div class="iapp-filters-wrap"></div> 
    <div class="iapp-triangle-up"></div>
</div>

<div class="iapp-menu-control-area">
    
    <div class="iapp-menu-button iapp-button iapp-button-blue iapp-clickable"><div class="iapp-button-text">Select Festival</div></div>
    <!-- <div class="iapp&#45;top&#45;button iapp&#45;button iapp&#45;button&#45;blue iapp&#45;clickable"><div class="iapp&#45;button&#45;text">Top</div></div> -->
    <div class="iapp-menu-close iapp-button iapp-clickable"><div class="iapp-button-text">Close Menu</div></div>
    <div class="iapp-reset-button iapp-button iapp-clickable"><div class="iapp-button-text">Reset</div></div>
    
</div>
