{#
  Nunjucks Templating!
  Docs: https://mozilla.github.io/nunjucks/
#}

{% extends 'layouts/application.html' %}

{% block title %}
{{graphic_config.header}}
{% endblock %}

{% block content %}
<div id="graphic-wrapper" class="graphic-wrapper">
    <div class="graphic-header">
        <h1>{{graphic_config.header}}</h1>
        <p>{{graphic_config.chatter}}</p>
    </div>
    <div class="graphic-content">
    </div>
    <div class="graphic-footer">
        <p><strong>Source: </strong> {{graphic_config.source}}</p>
        <p><strong>Credit: </strong> {{graphic_config.credit}}</p>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="js/main.js"></script>
{% endblock %}
